body {
  margin: 0;
  font-family: monospace;
  background-color: black;
}

h1 {
  font-size: 70px;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  margin-bottom: 10px;
  user-select: none;
}

#game-desc {
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  padding: 0;
  user-select: none;
}

#gameplay-text {
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  color: rgb(142, 81, 255);
  padding: 0;
  user-select: none;
}

#grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
}

.grid-block-animated {
  padding: 10px;
  background-color: #ffffff1b;
  border-radius: 5px;
  animation: change-background 15s ease-in-out infinite;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}

.grid-block-flashing {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  animation: none;
  transition: all 0.6s ease;
}

.grid-block-flashing:hover {
  background-color: #ffffff;
}

.grid-block-animated:hover {
  transform: scale(0.9);
  opacity: 0.8;
}

.blink {
  animation: blinker 1s step-start;
}

@keyframes blinker {
  50% {
    background-color: #bd9aff;
  }
}

.grid-block-start {
  transition: all 0.8s ease;
  transform: rotateY(360deg);
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  animation: none;
  transition: all 0.3s ease;
}

.grid-block-start:hover {
  background-color: rgb(189, 154, 255);
  transform: scale(0.95);
}


#start-button {
  border: none;
  color: black;
  background-color: white;
  font-size: 24px;
  border-radius: 8px;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 460px;
  transition: all 0.2s ease;
  font-family: monospace;
  cursor: pointer;
  user-select: none;
}

#start-button:hover {
  background-color: #4cff73;
  color: white;
  transform: scale(0.99);
}

#next-level-button {
  border: none;
  color: black;
  background-color: white;
  font-size: 24px;
  border-radius: 8px;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 460px;
  transition: all 0.2s ease;
  font-family: monospace;
  cursor: pointer;
}

#flash-sequence-button {
  border: none;
  color: black;
  background-color: white;
  font-size: 24px;
  border-radius: 8px;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 460px;
  transition: all 0.2s ease;
  font-family: monospace;
  cursor: pointer;
}

#next-level-button:hover {
  background-color: #4cff73;
  color: white;
  transform: scale(0.99);
}

#flash-sequence-button:hover {
  background-color: #b055ff;
  color: white;
  transform: scale(0.99);
}

.invisible {
  display: none;
}

@keyframes change-background {
  0% {
    background: #ff3131;
  }
  10% {
    background: #ff7931;
  }
  20% {
    background: #f8ff31;
  }
  30% {
    background: #adff31;
  }
  40% {
    background: #31ff31;
  }
  50% {
    background: #31ff98;
  }
  60% {
    background: #31cfff;
  }
  70% {
    background: #315eff;
  }
  80% {
    background: #6b31ff;
  }
  90% {
    background: #ff31e0;
  }
  100% {
    background: #ff3131;
  }
}

