body {
  margin: 0;
  font-family: monospace;
  background-color: black;
}

h1 {
  font-size: 96px;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
}

#game-desc {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  padding: 0;
}

#gameplay-text {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  color: rgb(142, 81, 255);
  padding: 0;
}

.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
}

.grid-block-animated {
  padding: 10px;
  background-color: #ffffff1b;
  border-radius: 5px;
  animation: change-background 20s ease-in-out infinite;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.grid-block-normal {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  animation: none;
  transform-style: preserve-3d;
  transition: all 0.2s ease;
}
.grid-block-normal:hover {
  background-color: rgb(189, 154, 255);
}
.grid-block-animated:hover {
  transform: rotateY(180deg)
}

.grid-block-start {
  transform: rotateY(360deg);
}

#start-button {
  border: none;
  color: black;
  background-color: white;
  font-size: 36px;
  border-radius: 8px;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 460px;
  transition: all 0.2s ease;
}

#start-button:hover {
  background-color: #bcbcbc;
  transform: scale(0.99);
}

#next-level-button {
  border: none;
  color: black;
  background-color: white;
  font-size: 36px;
  border-radius: 8px;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 460px;
  transition: all 0.2s ease;
}

#next-level-button:hover {
  background-color: #bcbcbc;
  transform: scale(0.99);
}

.invisible {
  display: none;
}

@keyframes change-background {
  0% {
    background: #ff3131;
  }
  10% {
    background: #ff7931;
  }
  20% {
    background: #f8ff31;
  }
  30% {
    background: #adff31;
  }
  40% {
    background: #31ff31;
  }
  50% {
    background: #31ff98;
  }
  60% {
    background: #31cfff;
  }
  70% {
    background: #315eff;
  }
  80% {
    background: #6b31ff;
  }
  90% {
    background: #ff31e0;
  }
  100% {
    background: #ff3131;
  }
}

