@import url('https://fonts.googleapis.com/css?family=Press Start 2P');
@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  margin: 0;
  font-family: "Press Start 2P";
  background-color: black;
}

h1 {
  font-size: 36px;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  padding: 0;
  margin-bottom: 40px;
  user-select: none;
}

#game-desc {
  text-align: center;
  margin-bottom: 30px;
  font-size: 12px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  padding: 0;
  user-select: none;
} 

#grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
}

#guess-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
}

#game-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
}

#purple-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
}

#green-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
}

#red-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  justify-content: center;
}

.grid-block-intro-screen {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  animation: change-background 15s ease-in-out infinite;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}

.grid-block-intro-screen:hover {
  transform: scale(0.9);
  opacity: 0.8;
}

.grid-block-pre-flash {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.grid-block-pre-flash:hover {
  background-color: #ffffff;
}

.grid-guess-block {
  transition: all 0.8s ease;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  animation: none;
  transition: all 0.3s ease;
}

.grid-guess-block:hover {
  transform: scale(0.95);
}

.game-block {
  transition: all 0.8s ease;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  animation: none;
  transition: all 0.3s ease;
}

.purple-block {
  transition: all 0.8s ease;
  padding: 10px;
  background-color: #b055ff;
  border-radius: 5px;
  animation: none;
  transition: all 0.3s ease;
}

.green-block {
  transition: all 0.8s ease;
  padding: 10px;
  background-color: #4cff73;
  border-radius: 5px;
  animation: none;
  transition: all 0.3s ease;
}

.green-block:hover {
  transform: scale(0.95);
}

.red-block {
  transition: all 0.8s ease;
  padding: 10px;
  background-color: #ff4545;
  border-radius: 5px;
  animation: none;
  transition: all 0.3s ease;
}

.red-block:hover {
  transform: scale(0.95);
}

.game-block:hover {
  transform: scale(0.95);
}

#start-button{
  border: none;
  color: black;
  background-color: white;
  font-size: 12px;
  letter-spacing: 2px;
  border-radius: 8px;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 460px;
  transition: all 0.2s ease;
  font-family: "Press Start 2P";
  cursor: pointer;
  user-select: none;
}

#start-button:hover {
  background-color: #4cff73;
  color: white;
  transform: scale(0.99);
}

#next-level-button {
  border: none;
  color: black;
  background-color: white;
  font-size: 12px;
  letter-spacing: 2px;
  border-radius: 8px;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 460px;
  transition: all 0.2s ease;
  font-family: "Press Start 2P";
  user-select: none;
  cursor: pointer;
} 


#flash-sequence-button {
  border: none;
  color: black;
  background-color: white;
  font-size: 12px;
  letter-spacing: 2px;
  border-radius: 8px;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 460px;
  transition: all 0.2s ease;
  font-family: "Press Start 2P";
  user-select: none;
  cursor: pointer;
}

#next-level-button:hover {
  background-color: #4cff73;
  color: white;
  transform: scale(0.99);
}

#flash-sequence-button:hover {
  background-color: #b055ff;
  color: white;
  transform: scale(0.99);
}

@keyframes change-background {
  0% {
    background: #ff3131;
  }
  10% {
    background: #ff7931;
  }
  20% {
    background: #f8ff31;
  }
  30% {
    background: #adff31;
  }
  40% {
    background: #31ff31;
  }
  50% {
    background: #31ff98;
  }
  60% {
    background: #31cfff;
  }
  70% {
    background: #315eff;
  }
  80% {
    background: #6b31ff;
  }
  90% {
    background: #ff31e0;
  }
  100% {
    background: #ff3131;
  }
}